<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NeverFap Deluxe League</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/index.css"/>

</head>
<body>
  <div class="homepage">
    <h1 class="homepage__title">NeverFap Deluxe League</h1>
    <p>accountabilityMessageCount {{ accountabilityMessageCount }}</p>
    <p>accountabilityReactCount {{ accountabilityReactCount }}</p>
  </div>
</body>
</html>